
<div *ngIf="entrega">
    <h2><span jhiTranslate="aawAtividade3App.entrega.detail.title">Entrega</span> {{entrega.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="aawAtividade3App.entrega.codigo">Codigo</span></dt>
        <dd>
            <span>{{entrega.codigo}}</span>
        </dd>
        <dt><span jhiTranslate="aawAtividade3App.entrega.dataPrevista">Data Prevista</span></dt>
        <dd>
            <span>{{entrega.dataPrevista}}</span>
        </dd>
        <dt><span jhiTranslate="aawAtividade3App.entrega.dataEntrega">Data Entrega</span></dt>
        <dd>
            <span>{{entrega.dataEntrega}}</span>
        </dd>
        <dt><span jhiTranslate="aawAtividade3App.entrega.aluno">Aluno</span></dt>
        <dd>
            <div *ngIf="entrega.aluno">
                <a [routerLink]="['/aluno', entrega.aluno?.id]">{{entrega.aluno?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="aawAtividade3App.entrega.atividade">Atividade</span></dt>
        <dd>
            <div *ngIf="entrega.atividade">
                <a [routerLink]="['/atividade', entrega.atividade?.id]">{{entrega.atividade?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'entrega/'+ entrega.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
