<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEntregaLabel" jhiTranslate="aawAtividade3App.entrega.home.createOrEditLabel">Create or edit a Entrega</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!entrega.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="entrega.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aawAtividade3App.entrega.codigo" for="field_codigo">Codigo</label>
            <input type="number" class="form-control" name="codigo" id="field_codigo"
                [(ngModel)]="entrega.codigo" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aawAtividade3App.entrega.dataPrevista" for="field_dataPrevista">Data Prevista</label>
            <input type="text" class="form-control" name="dataPrevista" id="field_dataPrevista"
                [(ngModel)]="entrega.dataPrevista" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aawAtividade3App.entrega.dataEntrega" for="field_dataEntrega">Data Entrega</label>
            <input type="text" class="form-control" name="dataEntrega" id="field_dataEntrega"
                [(ngModel)]="entrega.dataEntrega" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aawAtividade3App.entrega.aluno" for="field_aluno">Aluno</label>
            <select class="form-control" id="field_aluno" name="aluno" [(ngModel)]="entrega.aluno" >
                <option [ngValue]="null"></option>
                <option [ngValue]="alunoOption.id === entrega.aluno?.id ? entrega.aluno : alunoOption" *ngFor="let alunoOption of alunos; trackBy: trackAlunoById">{{alunoOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aawAtividade3App.entrega.atividade" for="field_atividade">Atividade</label>
            <select class="form-control" id="field_atividade" name="atividade" [(ngModel)]="entrega.atividade" >
                <option [ngValue]="null"></option>
                <option [ngValue]="atividadeOption.id === entrega.atividade?.id ? entrega.atividade : atividadeOption" *ngFor="let atividadeOption of atividades; trackBy: trackAtividadeById">{{atividadeOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
