<div>
    <h2>
        <span jhiTranslate="aawAtividade3App.professor.home.title">Professors</span>
        <button class="btn btn-primary float-right jh-create-entity create-professor" [routerLink]="['/', { outlets: { popup: ['professor-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="aawAtividade3App.professor.home.createLabel">
            Create new Professor
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="professors">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="aawAtividade3App.professor.codigo">Codigo</span></th>
            <th><span jhiTranslate="aawAtividade3App.professor.grau">Grau</span></th>
            <th><span jhiTranslate="aawAtividade3App.professor.salario">Salario</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let professor of professors ;trackBy: trackId">
                <td><a [routerLink]="['../professor', professor.id ]">{{professor.id}}</a></td>
                <td>{{professor.codigo}}</td>
                <td>{{professor.grau}}</td>
                <td>{{professor.salario}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../professor', professor.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'professor/'+ professor.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'professor/'+ professor.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
