<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAulaLabel" jhiTranslate="aawAtividade3App.aula.home.createOrEditLabel">Create or edit a Aula</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!aula.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="aula.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aawAtividade3App.aula.codigo" for="field_codigo">Codigo</label>
            <input type="number" class="form-control" name="codigo" id="field_codigo"
                [(ngModel)]="aula.codigo" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aawAtividade3App.aula.horarioInicio" for="field_horarioInicio">Horario Inicio</label>
            <input type="text" class="form-control" name="horarioInicio" id="field_horarioInicio"
                [(ngModel)]="aula.horarioInicio" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aawAtividade3App.aula.horarioTermino" for="field_horarioTermino">Horario Termino</label>
            <input type="text" class="form-control" name="horarioTermino" id="field_horarioTermino"
                [(ngModel)]="aula.horarioTermino" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aawAtividade3App.aula.turma" for="field_turma">Turma</label>
            <select class="form-control" id="field_turma" name="turma" [(ngModel)]="aula.turma" >
                <option [ngValue]="null"></option>
                <option [ngValue]="turmaOption.id === aula.turma?.id ? aula.turma : turmaOption" *ngFor="let turmaOption of turmas; trackBy: trackTurmaById">{{turmaOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aawAtividade3App.aula.periodoLetivo" for="field_periodoLetivo">Periodo Letivo</label>
            <select class="form-control" id="field_periodoLetivo" name="periodoLetivo" [(ngModel)]="aula.periodoLetivo" >
                <option [ngValue]="null"></option>
                <option [ngValue]="periodoLetivoOption.id === aula.periodoLetivo?.id ? aula.periodoLetivo : periodoLetivoOption" *ngFor="let periodoLetivoOption of periodoletivos; trackBy: trackPeriodoLetivoById">{{periodoLetivoOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
