<div>
    <h2>
        <span jhiTranslate="aawAtividade3App.disciplina.home.title">Disciplinas</span>
        <button class="btn btn-primary float-right jh-create-entity create-disciplina" [routerLink]="['/', { outlets: { popup: ['disciplina-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="aawAtividade3App.disciplina.home.createLabel">
            Create new Disciplina
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="disciplinas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="aawAtividade3App.disciplina.codigo">Codigo</span></th>
            <th><span jhiTranslate="aawAtividade3App.disciplina.nome">Nome</span></th>
            <th><span jhiTranslate="aawAtividade3App.disciplina.professor">Professor</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let disciplina of disciplinas ;trackBy: trackId">
                <td><a [routerLink]="['../disciplina', disciplina.id ]">{{disciplina.id}}</a></td>
                <td>{{disciplina.codigo}}</td>
                <td>{{disciplina.nome}}</td>
                <td>
                    <span *ngFor="let professor of disciplina.professors; let last = last">
                            <a class="form-control-static" [routerLink]="['../professor', professor?.id ]">{{professor.codigo}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../disciplina', disciplina.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'disciplina/'+ disciplina.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'disciplina/'+ disciplina.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
