
<div *ngIf="nota">
    <h2><span jhiTranslate="aawAtividade3App.nota.detail.title">Nota</span> {{nota.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="aawAtividade3App.nota.codigo">Codigo</span></dt>
        <dd>
            <span>{{nota.codigo}}</span>
        </dd>
        <dt><span jhiTranslate="aawAtividade3App.nota.valor">Valor</span></dt>
        <dd>
            <span>{{nota.valor}}</span>
        </dd>
        <dt><span jhiTranslate="aawAtividade3App.nota.aluno">Aluno</span></dt>
        <dd>
            <div *ngIf="nota.aluno">
                <a [routerLink]="['/aluno', nota.aluno?.id]">{{nota.aluno?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="aawAtividade3App.nota.atividade">Atividade</span></dt>
        <dd>
            <div *ngIf="nota.atividade">
                <a [routerLink]="['/atividade', nota.atividade?.id]">{{nota.atividade?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'nota/'+ nota.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
